
.formDiv {
    margin:2em auto; 
    display: 'grid';
    height: 4em;
}

form{
    width:90%; 
    margin:0 auto;
}

.emojiKeybord{
    width: 20%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid black;
    height: 50px;
    transition:             height 500ms ease;
        -moz-transition:    height 500ms ease;
        -ms-transition:     height 500ms ease;
        -o-transition:      height 500ms ease;
        -webkit-transition: height 500ms ease;
}

.emojiKeybord span {
    
}

.modalDiv{
    display: grid;
    grid-template-columns: repeat(6, 1fr)
}

@keyframes move{
    0% {top: 0px}
    50% {top: 10px}
    100% {top: 0px}
    
}


.loader{
  font-size: 6em;
  margin: 0;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-top: 15%;
}

.productItemDetail{
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    height: 15em;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.itemDetailExpand{
    width: 100%;
}

.button {
    height: 3em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #ff5a00;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
}

.input {
    
    height: 3em;
    border: 1px solid gray;
    width: 60%;
    padding-left: 1em;
}

.logo{
    padding: 1em;
    padding-left: 1.5em;
    font-size: 2.5em;
    color:#ff5a00; 
    font-weight: bold;
}

#emoji {
    font-size: 0.7em;
    left: -3px;
}
.productItem{
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    height: 10em;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.productItem:hover{
     background-color:#eee
}

#description {
    grid-column: 3/5;
    margin-top: 3em;
    padding-left: 0.5em;
}

#priceDesc{
    padding-left: 0.5em;
}

.spans{
    margin-left: 1em;
}

.spans:hover{
    text-decoration: underline;
}

#price{
    grid-column: 6;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 2.5em;
}

.sortPanel{
    width: 60%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.image{
    height: 10em;
    grid-column: 1/3;
    margin-top: 1em;
}

.picDiv {
    grid-column: 1/3;
}

.descDiv {
    grid-column: 3/7
}

#buttonAllegro{
    width: 80%;
    height: 3em;
    border: none;
    background-color: #ff5a00;
    color: white;
    margin-left: 3em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#desc {
    text-align: justify;
    text-justify: inter-word;
    margin: 0 1em;
    max-height: 280px;
    min-height: 200px;
    overflow-y: scroll;
}

.imageModal{
    height: 30em;
    margin: auto 0;
   
}

.imageModal img {
    margin-top: 20%;
    max-width: 100%;
    max-height: 80%;
}

.image img {
    max-width: 100%;
    max-height: 80%;
}

.productItem:first-of-type { 
   border-top:  1px solid #c7c7c7;
}
/* .productsListDiv {
    display: grid;
    grid-template-columns: 1fr;
} */


@media only screen and (max-width: 1200px) {
    .formDiv {
        
    margin:0 auto; 
        height: 4em;
    }
    
    .logo{
       display: block;
    }

    form{
        width:80%; 
        margin:0 auto;
        padding-top:1em;
        
    }
    .productsListDiv{
        margin-top: 11em;
    }

    .productItem{
        width: 90%;
    }

    .imageModal img {
        margin-top: 9em;
    }
        
    

    .descDiv{

    }

  }

  @media only screen and (max-width: 870px) {
    .formDiv {
        
        margin:0 auto; 
            height: 4em;
        }
        
        .logo{
            
            display: block;
        }
    
        form{
            width:80%; 
            margin:0 auto;
           
        }
        .productItem{
            width: 90%;
        }


        
.loader{
    
    
    
    margin-top: 20%;
  }
  

  }

  @media only screen and (max-width: 576px) {
      .sortPanel{
          width: 90%;
      }
    .sortPanel p {
        font-size: 0.8em;
    }
    
    .loader{
        left: 40%;
        margin-top: 50%;
      }
      
    #price{
        margin-right: 0.5em;
        margin-left: 0.25em;
    }

    #description {
        grid-column: 3/6;
    }
    
  }

  

